*~
.*~
*.class
datomatcom/
/factory/factorynb*
/factory/factorynb/nbproject/private/
/factory/factorynb/build/
/components/derbyComponents/build/
/components/derbyComponents/nbproject/private/
components/derbyComponents/
