*~
.*~
*.class
datomatcom/
/factory/factorynb*
/factory/factorynb/nbproject/private/
/factory/factorynb/build/
/components/derbyComponents/build/
/components/derbyComponents/nbproject/private/
components/derbyComponents/
/components/SnapApp/nbproject/private/
/components/SnapApp/build/
/components/campoTextoComponente/nbproject/private/
/components/campoTextoComponente/build/
/components/campoTextoComponente/dist/
/components/aplicacionCampoTexto/nbproject/private/
/components/aplicacionCampoTexto/build/
/components/campoTextoNumero/nbproject/private/
/components/campoTextoNumero/dist/
/components/campoTextoNumero/build/
/components/componenteCompuesto/build/
/components/componenteCompuesto/dist/
/javaEE/citasPaciente/nbproject/private/
/javaEE/citasPaciente/build/
/components/polinomio/nbproject/private/
/components/polinomio/build/
/components/polinomio/dist/
/components/appPolinomio/nbproject/private/
/components/reactivo/build/
/components/reactivo/dist/
/javaEE/citasPaciente/dist/
/components/citasPaciente2/nbproject/private/
/components/citasPaciente2/build/